body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EEEEEE;
}

main {
  flex: 1 0 auto;
}

div.skills-body {
  padding-top: 1vh;
}

div.about-body {
  padding-top: 1vh;
}
div.about-footer {
  margin:1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-footer .fa {
  align-items: baseline;
  vertical-align: middle;
}

div.education-item > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

div.education-item > h5 {
  margin-top: 0;
}

div.experience-item > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

div.experience-item > h5,
div.experience-item > p {
 margin-top: 0;
}

.page-footer > .container > .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
