body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EEEEEE;
}

main {
  flex: 1 0 auto;
}

div.skills-body {
  padding-top: 1vh;
}

div.about-body {
  padding-top: 1vh;
}
div.about-footer {
  margin:1vh 5vh 0 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.education-body > span,
div.experience-body > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

div.education-divider {
  margin-bottom: 2vh;
}

div.experience-body > h5,
div.experience-body > p,
div.education-body > h5 {
 margin-top: 0;
}

.page-footer > .container > .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ubuntu-font {
  font-family: Ubuntu "Roboto";
}
