body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EEEEEE;
}

main {
  flex: 1 0 auto;
}

div.skills-body {
  padding-top: 1vh;
}

div.about-body {
  padding-top: 1vh;
}

div.experience-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
